*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}







body{
    background-image: url("../pictures/Cover\ 1920х1080\ 1.png");
    /* background-position: center; */
    background-size: cover;
    /* background-position:left; */
    background-position: center;
}